services:
  jekyll:
    build: .
    ports:
      - "4001:4001"        # Main site
      - "35730:35730"      # LiveReload
    volumes:
      - .:/site
      - bundle_cache:/usr/local/bundle
    environment:
      - JEKYLL_ENV=development

volumes:
  bundle_cache:
